.center-bottom-buttons
{
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-wrapper
{
    position: relative;
}

.pagemovement-button.left
{
    position: absolute;
    top: 50px;
    right: 20px;
    
}
.pagemovement-button.right
{
    position: absolute;
    width: 180px;
    top: 50px;
    left: 40px;
}
.pagemovement-button.under
{
    position: absolute;
    top: 120px;
    right: 20px;
}


.pagemovement-button {
    background-color: #11A7B7;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: 150px; 
    text-align: center;
    margin-right: 10px; 
    cursor: pointer;
}

.firstpage-button {
    background-color: #11A7B7;
    color: white;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    width: 150px; 
    text-align: center;
    margin-top: 10px; 
    margin-right: 200px; 
}

