<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Bar</title>
    <link rel="stylesheet" href="../css/topbar.css"> 
    </head>
    <body>
    
    <div class="top-bar">
      <div class="logo">
        <img src="../images/saleslab.png" alt="Logo" style="height:80px; width:220px;">
      </div>
      <div class="title">
        <h1>ウェブアプリ名称</h1> 
      </div>
      <div></div> 
    </div>
    <div class="container">
      <a href="../auth/login.html" class="logout-button">ログアウト>></a>
      <a href="../dashboard.html" class="logout-button">メインメニュー</a>
    </div>
    </body>
    </html> 
    