.jigyo-outer-circle, .jojo-outer-circle {
    border: solid 1px black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.jigyo-inner-circle, .jojo-inner-circle {
    display: none;
    width: 13px;
    height: 13px;
    /* padding-left: 1px; */
    background-color: #11A7B7;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 10px;
}


.three-circle-selection-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.circle-selection-container{ 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circle-selection-content{
    margin-left: 2px;
}

